* {
    overflow: hidden;
    margin: 0;
}

a {
    color: #eee;
    text-decoration: none;
}

body {
    color: #fff;
    font-family: sans-serif;
    background: linear-gradient(#1b1b1b, #242424, #1b1b1b);
    text-align: center;
}

.whatsthediv {
    background: linear-gradient(00.25turn, #111, #222, #111);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

.title h1 {
    margin: 0 16px 0 16px;
    text-align: left;
}
.title {
    margin: 8px 8px;
    display: flex;
    align-items: center;
}
.title a {
    margin: 0 8px 0 8px;
}
.title a:not(.noef):hover {
    text-decoration: underline;
}

.wel {
    margin-left: auto;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

img {
    filter: drop-shadow(0 0 10px #000);
    margin: 16px;
    margin-top: 80px;
    width: 100vw;
    height: auto;
    object-fit: contain;
    animation: fade 1s ease-out;
    animation-play-state: paused;
}

@keyframes fade {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}