* {
    overflow: hidden;
    margin: 0;
}

a {
    color: #eee;
    text-decoration: none;
}

body {
    color: #fff;
    font-family: sans-serif;
    background: linear-gradient(#1b1b1b, #242424, #1b1b1b);
    text-align: center;
}

.header {
    background: linear-gradient(00.25turn, #111, #222, #111);
}

.title h1 {
    margin: 0 auto 0 16px;
    text-align: left;
}
.title img {
    width: 1.5em;
}
.title img:hover {
    cursor:pointer;
}
.title, .menu{
    margin: 8px 8px;
    display: flex;
    align-items: center;
}

.menu a:hover, .menuExp a:hover {
    text-decoration: underline;
}

.menu, .menuExp, .title a {
    margin: 0 8px 0 8px;
}

.menuBtn {
    margin-right: 16px;
}

.menuExp {
    text-align: center;
}

@media (min-width: 900px) {
    .menuBtn {
        display: none;
    }
    .menuExp {
        display: none !important;
    }
}

.menuExp a {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: right;
}

@media (max-width: 899px) {
    .menu {
        display: none;
    }
    .menuExp {
        display: none;
        flex-direction: column;
    }
}

.wel {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.container {
    display: flex;
    width: 100vw;
}

.fox {
    filter: drop-shadow(0 0 10px #000);
    margin: 16px;
    width: 100vw;
    height: auto;
    object-fit: contain;
    animation: fade 1s ease-out;
    animation-play-state: paused;
}

@keyframes fade {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}